.env
.env
/application/
/views/components/
/views/insumos/
/views/ipl/
/views/recetas/
/views/reglas/
/views/reportes/
/views/test/
/views/users/
/views/pacientes/
/vendor/
/venv/
.DS_Store
.DS_Store
Thumbs.db
.idea/
.DS_Store
.vscode/sftp.json
node_modules/
Flowmaker/node_modules/
Flowmaker/.yarn/
Flowmaker/.vite/
cive_extention/manifest.json
/views/informes/ajax/ajax_detalle_factura.php
/views/informes/ajax/scrapear_codigo_derivacion.php
/views/informes/components/detalle_factura_iess.php
/views/informes/components/eliminar_factura.php
/views/informes/components/footer_factura.php
/views/informes/components/header_factura.php
/views/informes/components/scrapping_procedimientos.php
/views/informes/generar_consolidado_iess.php
/views/informes/generar_consolidado_isspol.php
/views/informes/generar_excel_iess_lote.php
/views/informes/informe_iess.php
/views/informes/informe_iess_prueba.php
/views/informes/informe_issfa.php
/views/informes/informe_isspol.php
/views/informes/informe_particulares.php
